{% extends 'base.html.twig' %}

{% block title %}Novo Evento{% endblock %}

{% block body %}
    <div class="card mb-5">
        <div class="card-body">
            <h3 class="card-title">Novo Evento</h3>
            <hr class="mb-5">
            
            {{ include('evento/_form.html.twig') }}
        </div>
    </div>
{% endblock %}