:root {
    --light-blue: #e0efff;
}

body {
    background-color: #eeeeee;
}

/* -----------------------------------------------
                    Navbar
 ---------------------------------------------- */
.navlink-item.active .navlink-link,
.navlink-item .navlink-link:focus,
.navlink-item .navlink-link:hover,
.navlink-item .navlink-link:active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.1875rem;
    color: rgba(0, 0, 0, 0.7);
}

.navbar .navbar-nav .navlink-link {
    margin-left: 10px;
    padding: 0.5rem 0.7rem;
    color: #495057;
    border-color: #dee2e6 #dee2e6 #fff;
    text-decoration: none;
    color: #ffffff;
}

.navbar .navbar-brand {
    padding-right: 1.5rem;
}

.navbar .navbar-toggler {
    width: 37px;
    border: 0;
    cursor: pointer;
}

/* -----------------------------------------------
                    Cores
 ---------------------------------------------- */
.bg-primary,
.bg-primary > a {
    color: #ffffff !important;
}

.bg-secondary,
.bg-secondary > a {
    color: #ffffff !important;
}

.bg-success,
.bg-success > a {
    color: #ffffff !important;
}

.bg-info,
.bg-info > a {
    color: #ffffff !important;
}

.bg-warning,
.bg-warning > a {
    color: #ffffff !important;
}

.bg-danger,
.bg-danger > a {
    color: #ffffff !important;
}

.bg-light,
.bg-light > a {
    color: #1F2D3D !important;
}

.bg-dark,
.bg-dark > a {
    color: #ffffff !important;
}

.bg-light-blue {
    background-color: #e0efff !important;
}

a.bg-light-blue:hover, a.bg-light-blue:focus,
button.bg-light-blue:hover,
button.bg-light-blue:focus {
    background-color: #ffffff !important;
}

.btn-tool {
    background: transparent;
    color: #adb5bd;
    font-size: 0.875rem;
    margin: -0.75rem 0;
    padding: .25rem .5rem;
}

.btn-group.show .btn-tool, .btn-tool:hover {
    color: #495057;
}

.btn-icon-split {
    padding: 0;
    overflow: hidden;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
}

.btn-icon-split .icon {
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 0.375rem 0.75rem;
}

.btn-icon-split .text {
    display: inline-block;
    padding: 0.375rem 0.75rem;
}

.btn-icon-split.btn-sm .icon, .btn-group-sm > .btn-icon-split.btn .icon {
    padding: 0.25rem 0.5rem;
}

.btn-icon-split.btn-sm .text, .btn-group-sm > .btn-icon-split.btn .text {
    padding: 0.25rem 0.5rem;
}

.btn-icon-split.btn-lg .icon, .btn-group-lg > .btn-icon-split.btn .icon {
    padding: 0.5rem 1rem;
}

.btn-icon-split.btn-lg .text, .btn-group-lg > .btn-icon-split.btn .text {
    padding: 0.5rem 1rem;
}

.btn-light {
    border-color: #999999;
}

.btn-light:hover {
    border-color: #999999;
}

.card-primary:not(.card-outline) > .card-header {
    background-color: #4682B4;
}

.card-primary:not(.card-outline) > .card-header,
.card-primary:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-secondary:not(.card-outline) > .card-header {
    background-color: #6c757d;
}

.card-secondary:not(.card-outline) > .card-header,
.card-secondary:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-success:not(.card-outline) > .card-header {
    background-color: #006400;
}

.card-success:not(.card-outline) > .card-header,
.card-success:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-info:not(.card-outline) > .card-header {
    background-color: #17a2b8;
}

.card-info:not(.card-outline) > .card-header,
.card-info:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-warning:not(.card-outline) > .card-header {
    background-color: #B8860B;
}

.card-warning:not(.card-outline) > .card-header,
.card-warning:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-danger:not(.card-outline) > .card-header {
    background-color: #dc3545;
}

.card-danger:not(.card-outline) > .card-header,
.card-danger:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-light:not(.card-outline) > .card-header {
    background-color: #f8f9fa;
}

.card-light:not(.card-outline) > .card-header,
.card-light:not(.card-outline) > .card-header a {
    color: #1F2D3D;
}

.card-dark:not(.card-outline) > .card-header {
    background-color: #0a0a0a;
}

.card-dark:not(.card-outline) > .card-header,
.card-dark:not(.card-outline) > .card-header a {
    color: #ffffff;
}

.card-primary.card-outline {
    border-top: 3px solid #4682B4;
}

.card.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.card.date .mes {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.card.date .dia {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}

.card-comments {
    background: #f8f9fa;
}

.card-comments .card-comment {
    border-bottom: 1px solid #e9ecef;
    padding: 8px 0;
}

.card-comments .card-comment::after {
    display: block;
    clear: both;
    content: "";
}

.card-comments .card-comment:last-of-type {
    border-bottom: 0;
}

.card-comments .card-comment:first-of-type {
    padding-top: 0;
}

.card-comments .card-comment img {
    height: 1.875rem;
    width: 1.875rem;
    float: left;
}

.card-comments .comment-text {
    color: #78838e;
    margin-left: 40px;
}

.card-comments .username {
    color: #495057;
    display: block;
    font-weight: 600;
}

.card-comments .text-muted {
    font-size: 12px;
    font-weight: 400;
}

/*.card-footer {*/
/*    padding: 0.75rem 1.25rem;*/
/*    background-color: rgba(0, 0, 0, 0.03);*/
/*    border-top: 0 solid rgba(0, 0, 0, 0.125);*/
/*}*/

/*.card-footer:last-child {*/
/*    border-radius: 0 0 calc(0.25rem - 0) calc(0.25rem - 0);*/
/*}*/

.link-black {
    color: #6c757d;
}

.link-black:hover, .link-black:focus {
    color: #343a40;
    text-decoration: none;
}

.h7 {
    font-size: 0.8rem;
}

.img-size-32,
.img-size-50 {
    height: auto;
}

.img-size-32 {
    width: 32px;
}

.img-size-50 {
    width: 50px;
}

.img-size-100 {
    width: 100px;
}

.img-borda-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
}

.img-borda-white-sm {
    border: 2px solid #ffffff;
    padding: 2px;
}

.img-rounded {
    border-radius: 0.25rem;
}

.img-container {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.sombra-0 {
    box-shadow: none !important;
}

.sombra-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.sombra-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.sombra-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.sombra-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.sombra-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}

/* -----------------------------------------------
                    Perfil
 ---------------------------------------------- */
.perfil {
    position: absolute;
    top: 50px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.perfil-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post {
    border-bottom: 1px solid #adb5bd;
    color: #666;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.post:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.post .user-block {
    margin-bottom: 15px;
    width: 100%;
}

.user-block {
    float: left;
}

.user-block img {
    float: left;
    height: 40px;
    width: 40px;
}

.user-block .username,
.user-block .description,
.user-block .comment {
    display: block;
    margin-left: 50px;
}

.user-block .username {
    font-size: 16px;
    font-weight: 600;
    margin-top: -1px;
}

.user-block .description {
    color: #6c757d;
    font-size: 13px;
    margin-top: -3px;
}

.user-block.user-block-sm img {
    width: 1.875rem;
    height: 1.875rem;
}

.user-block.user-block-sm .username,
.user-block.user-block-sm .description,
.user-block.user-block-sm .comment {
    margin-left: 40px;
}

.user-block.user-block-sm .username {
    font-size: 14px;
}

.text-sm .card-title {
    font-size: 1rem;
}

/* -----------------------------------------------
                    Activity
 ---------------------------------------------- */
.activity-feed {
    padding: 15px;
}
.activity-feed .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 2px solid #e4e8eb;
}
.activity-feed .feed-item:last-child {
    border-color: transparent;
}
.activity-feed .feed-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #f37167;
}
.activity-feed .feed-item .date {
    position: relative;
    top: -5px;
    color: #8c96a3;
    text-transform: uppercase;
    font-size: 13px;
}
.activity-feed .feed-item .text {
    position: relative;
    top: -3px;
}

/* -----------------------------------------------
                 Sidebar Mobile
 ---------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 50px;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #555555;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #555555;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #444444;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #222222;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #333333;
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
    float: left;
    width: 60px;
    padding: 2px;
    border-radius: 12px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-info {
    float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
    display: block;
}

/* -----------------------------------------------
                 Form Search Amigos
 ---------------------------------------------- */
#custom-search-input {
    margin: 0;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 15px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 5px 0px;
    margin-top: 2px;
    position: relative;
    left: -30px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#4682B4;
}

.search-query:focus + button {
    z-index: 3;
}

/* -----------------------------------------------
                Form Post Comentário
 ---------------------------------------------- */
.textInput {
    border-radius: 0;
    height: 45px;
    margin: 0 !important;
}
.border-radius-0{
    border-radius:0;
}
.textInput:focus {
    box-shadow: none;
    outline: none
}

/* -----------------------------------------------
               Comentários do posto
 ---------------------------------------------- */

.profileText {
    border-radius: 7px;
    padding: 10px;
    position: relative;
    background-color: #e0efff;
    display: inline-block;
    margin-left: 15px;
    width: 100%;
}
.profileText::before {
    content: '';
    position: absolute;
    left: -9px;
    top: 20px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #e0efff;
    z-index: 1;
}
.commentBox ul li {
    display: flex;
    align-items: normal;
}

.commentBox ul li:nth-child(even) {
    text-align: left;
    margin: 20px 0;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .profileText::before {
        top: 20px;
    }
}

/* -----------------------------------------------
                  Notificações
 ---------------------------------------------- */
.dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
}

.dropdown-notification:hover .notification-read {
    color: #34495E;
}

.dropdown-notification-all {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #34495E;
    color: white;
}

.dropdown-notification-all:hover {
    background-color: #34495E;
    color: white;
}

.notifications-container {
    max-height: 300px;
    overflow: auto;
}

.notification-dropdown-menu {
    padding-bottom: 0;
    min-width: 528px;
}

.notification-img {
    width: 48px;
    display: inline-block;
    vertical-align: top;
}

.notifications-body {
    display: inline-block;
}

.notification-texte {
    text-align: left;
    margin: 0;
}

.notification-read {
    margin: 0;
    height: 48px;
    vertical-align: top;
    line-height: 48px;
    padding-left: 15px;
    color: white;
    float: right;
}

.notification-date {
    text-align: left;
    color: #2980b9;
    margin: 0;
}

.notification-solo {
    margin-top: 1rem;
}

.notification-unread {
    text-decoration: none;
    background-color: #f7f7f9;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
